body {
  font-family: 'Merriweather', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #78797c;
  font-size: 1.1rem;
  font-weight: 400;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container{
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 1200px;
}
.container-2{
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 680px;
}
.container-3{
  margin-left: 1rem;
  margin-right: 1rem;
  max-width: 600px;
}

@media screen and (min-width: 1200px) {
  .container{
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 680px) {
  .container-2{
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 600px) {
  .container-3{
    margin-left: auto;
    margin-right: auto;
  }
}
